# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Python cache
*.egg-info/
.pytest_cache/

# Environment Variables
.env

# Build
build/
dist/

# Streamlit cache
.streamlit/secrets.toml

data/candidates.jsonl